<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="http_timeout" value="120" />
    <add key="retries" value="3" />
    <add key="delayBeforeRetry" value="1000" />
    <add key="maxDegreeOfParallelism" value="4" />
  </config>
</configuration>